<p id="notice"><%= notice %></p>

<p>
  <strong>Created by:</strong>
  <%= @request.creator.full_name %>
</p>

<p>
  <strong>Required by:</strong>
  <%= @request.required_by %>
</p>

<p>
  <strong>Justification:</strong>
  <%= @request.justification %>
</p>

<p>
  <strong>First approver:</strong>
  <%= @request.first_approved_by.full_name %>
</p>

<p>
  <strong>Submitted:</strong>
  <%= @request.submitted %>
</p>

<p>
  <strong>Final approval:</strong>
  <%= @request.final_approval %>
</p>


<%= link_to 'Back', user_path(current_user) %>
